<h1>Sponsors</h1>
<p>If you want to become a sponsor to have your logo here, please visit <a href="https://quickcorp.org">https://quickcorp.org</a></p>
<p></p>
<component name="grid" template-source="none">
  <component name="card" data-title="QuickCorp" data-description="A consultancy company of e-commerce solutions" data-image="sponsors/quickcorp.png"></component>
  <component name="card" data-title="QCObjects" data-description="A framework to code fancy, clean and quick" data-image="sponsors/qcobjects.png"></component>
  <component name="card" data-title="Chile Summit" data-description="A news blog about the Chilean Summit Events" data-image="sponsors/chilesummit.png"></component>
</component>
