<style>
@import url('css/components/hero/hero-colored-button.css');
@import url('css/components/hero/hero-overlay.css');
</style>
<div class="container">
  <div class="hero__content">
    <h1>CONSTITUCI&Oacute;N POL&Iacute;TICA DE LA REP&Uacute;BLICA DE CHILE</h1>
    <p>Descarga aqu&iacute; la consituci&oacute;n pol&iacute;tica de Chile</p>
    <button name="download" class="button color-change-5x" style="background-image: url('img/download.png');min-width:365px;min-height:120px;width:365px;height:120px;
      border:none; border-radius: 30px; box-shadow: none;cursor:pointer;background-blend-mode:darken">&nbsp;</button>
  </div>

</div>
